<div class="jumbotron">
  <h1>Welcome to Store64!!!</h1>
  <p>An e-commerce site dedicated to video game nostalgia and all equipment, games and fictional items associated with them. <br>
    Please come on in, check out our store and feel free to play around and check out our code on GitHub! <br>
    -Chris, Peter, Teresa & Tim</p>
  <div class="row justify-content-center">
    <ul>
      <li>View Our Code: <a href="https://github.com/plapicola/little_shop">Here</a></li>
      <li>Chris's <a href="https://github.com/csvlewis">GitHub Profile</a></li>
      <li>Peter's <a href="https://github.com/plapicola">GitHub Profile</a></li>
      <li>Teresa's <a href="https://github.com/teresa-m-knowles">GitHub Profile</a></li>
      <li>Tim's <a href="https://github.com/timnallen">GitHub Profile</a></li>
    </ul>
  </div>
</div>
