<div class="jumbotron">
  <p>We are very pleased to share our Module 2 group project with you. The project was called "Little Shop", but we named our shop "Store64", which is a site dedicated to video game nostalgia and all equipment, games and fictional items associated with them. The application was written with Ruby On Rails and deployed using Heroku. The meat of the project involved many aspects of an e-commerce site. We have authentication and authorization for three kinds of users (regular customers, merchants, and administrators). We have cart management functions for visitors and users, and we have user that can purchase items and create orders. Additionally, merchants can fulfill these orders and users can cancel them. Administrators can perform all of these functions and additionally enable and disable users and upgrade and downgrade users from merchants to regular customers. We have all these functions and more, so please come on in, check out our store and feel free to play around and check out our code on GitHub! -Chris, Peter, Teresa & Tim</p>
  <div class="row justify-content-center">
    <ul>
      <li>View Our Code: <a href="https://github.com/plapicola/little_shop">Here</a></li>
      <li>Chris's <a href="https://github.com/csvlewis">GitHub Profile</a></li>
      <li>Peter's <a href="https://github.com/plapicola">GitHub Profile</a></li>
      <li>Teresa's <a href="https://github.com/teresa-m-knowles">GitHub Profile</a></li>
      <li>Tim's <a href="https://github.com/timnallen">GitHub Profile</a></li>
    </ul>
  </div>
</div>
