<section class=container id="merchants-wrapper">
  <% @merchants.each do |merchant| %>
    <section class="row" id="merchant-<%= merchant.id %>">
      <h3><%= merchant.name %></h3>
      <p>From: <%= merchant.city %>, <%= merchant.state %></p>
    </section>
  <% end %>
</section>
