<%= render partial: 'shared/nav/cart' %>
<li class="nav-item"><%= link_to 'My Profile', profile_path, class: "nav-link" %></li>
<li class="nav-item"><%= link_to 'My Orders', profile_orders_path, class: "nav-link" %></li>
