<section>
  <h1><%= @user.name %>'s profile</h1>
  <article class="user-info">
    <%= render partial: "users/profile" %>
    <%= link_to "See #{@user.name}'s Orders", admin_orders_path(user_id: @user.id) %>
    <%= link_to "Edit profile", edit_admin_user_path(@user.id) %>
  </article>

</section>
